# Virtual environment
chatvenv/
.env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and temporary files
*.log
*.tmp
*.swp

# IDE/editor settings
.vscode/
.idea/
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dependency files
Pipfile
Pipfile.lock
poetry.lock

# OS-specific files
.DS_Store
# Media files
media/uploads/*
!media/uploads/.gitkeep

# SQLite database files
*.sqlite3

# Python compiled files
*.pyc